.slider{
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
}

.slider .seta{
    position: absolute;
    z-index: 2;
}

.slider .seta img{
    width: 50px;
    height: 50px;
}

.slider .seta.seta-voltar{
    left: 4%;
}

.slider .seta.seta-avancar{
    right: 4%;
    transform: rotateY(180deg);
}

.slider .slide{
    width: 100vw;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 0;
    background-color: red;
    padding-top: 50px;
}

.slider .slide.mostrar{
    opacity: 1;
}


.slider .slide .conteudo{
    width: 45vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.692);
    margin-right: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider .slide.aegon{
    background-image: url('../image/aegon1.png');
    
}
.slider .slide.visenya{
    background-image: url('../image/visenya.png');
}
.slider .slide.rhaenyra{
    background-image: url('../image/rhaenyra.png');
}
.slider .slide.baelor{
    background-image: url('../image/baelor.png');
}
.slider .slide.aegonIV{
    background-image: url('../image/aegon4.png');
}
.slider .slide.daemon{
    background-image: url('../image/daemon.png');
}
.slider .slide.rhaegar{
    background-image: url('../image/rhaegar.png');
}
.slider .slide.daenerys{
    background-image: url('../image/daenerys.png');
}


.slider .conteudo .titulo{
    padding: 20px;
    font-size: 5rem;
    font-weight: 400;
    height: 20%;

}

.slider .conteudo .texto{
    padding-bottom: 30px;
    font-size: 2.3rem;
    font-style: italic;
    height: 60%;
    text-align: center;
    padding: 20px 50px;
}
.slider .conteudo .saibaMais{
    font-size: 3rem;
    font-weight: 700;
    height: 20%;
    text-align: center;
    line-height: 100px;
    display: block;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:  20px;
    
}

.opacidade{
    opacity: 0;
    cursor: default;
}




